.chartContainer {
  width: 100%;
  height: 250px; /* 고정 높이 유지 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F5ECF2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

  position: relative; /* overflow와 함께 사용할 경우 position 지정 */
  overflow: hidden;   /* 고정 영역 넘어가는 부분은 잘라냄 */
  transition: transform 0.2s;
}

.chartContainer:hover {
  transform: scale(1.03);
}


.title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 40px;
  color: #1f3a93;
}

.modalBody .chartContainer {
  width: 80%;
  height: 400px;
}