/* 사이드바 */
.sidebar-wrapper {
  width: 150px; /* 사이드바 너비 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: 1px solid #AEBFF1;
  background: #AEBFF1 !important;
  z-index: 1;
  padding: 10px;
}

/* 브랜드 로고 */
.brand {
display: flex;
align-items: left !important;
justify-content: left !important;
padding: 10px 0px 0px 0px !important;
width: 100%;
}

.brand-logo {
width: 30px !important;
height: 30px !important;
margin-right: 5px;
}

.brand-title {
font-size: 20px !important;
font-weight: bold !important;
text-align: center !important;
margin-bottom: 0px !important;
color: black !important;
white-space: nowrap; /* 줄바꿈 방지 */
}

/* 날짜 스타일 */
.menu-date {
font-weight: bold;
color: #1f3a93 !important;
white-space: nowrap; /* 줄바꿈 방지 */
}

/* 채팅방 버튼 */
.menu-text {
background: none;
border: none;
width: 100%;
text-align: left;
padding: 0px 5px 0px 5px;
font-size: 14px;
cursor: pointer;
transition: background 0.3s, font-weight 0.3s;
border-radius: 10px; /* 기본적으로 border-radius 설정 */
}

/* 호버 효과 */
.menu-text:hover {
background-color: #f5f5f5;
border-radius: 10px;
font-weight: bold;
}

/* 선택된 채팅방 유지 */
.menu-text.active {
background-color: #f5f5f5;
border-radius: 10px;
font-weight: bold;
}
